{% extends "base.html" %} {% block page_name %}Analytics{% endblock page_name %}
{% block content %}

<div class="container mx-auto mt-10 px-4 h-[100%]">
  <h1 class="text-3xl font-bold mb-3 text-center">Url shortner</h1>
  <p class="text-xs font-bold mb-4 text-center">
    learn how many people clicked your link & more.
  </p>

  <div class="flex justify-center items-center w-full">
    <form
      action="/analytics"
      method="post"
      class="bg-white p-6 rounded-lg shadow-md w-1/2"
    >
      <label for="url" class="block mb-2 font-bold text-center"
        >Retrive link related data</label
      >
      <input
        type="text"
        placeholder="paste your link here to retrive related data."
        name="url"
        id="url"
        class="w-full border rounded-md px-3 py-2 mb-4 focus:outline-none focus:ring-2 focus:ring-blue-500"
      />

      <div class="text-center">
        <button
          type="submit"
          class="w-[30vw] bg-blue-600 text-white py-2 rounded-md hover:bg-blue-700 transition"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>

{% if url_info %}
<div class="container mx-auto mt-10 px-4 flex justify-center">
  <div class="bg-white p-6 rounded-lg shadow-md w-1/2 border border-gray-200">
    <h2 class="text-xl font-bold text-center mb-6">
      Analytics for: <span class="text-blue-600">{{ url_info.short_url }}</span>
    </h2>

    <!-- Grid layout -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="bg-gray-50 p-4 rounded-md border border-gray-200 text-center">
        <p class="text-lg font-semibold">Total Clicks</p>
        <p class="text-3xl font-bold text-green-600">
          {{ url_info.visit_count }}
        </p>
      </div>

      <div
        class="bg-gray-50 p-4 rounded-md border border-gray-200 break-all text-center"
      >
        <p class="text-lg font-semibold">Original URL</p>
        <p class="text-blue-700">{{ url_info.original_url }}</p>
      </div>

      <div class="bg-gray-50 p-4 rounded-md border border-gray-200 text-center">
        <p class="text-lg font-semibold">Short URL</p>
        <a
          href="/{{ url_info.short_url }}"
          class="text-indigo-600 underline break-all"
        >
          {{ request.host_url }}{{ url_info.short_url }}
        </a>
      </div>

      <div class="bg-gray-50 p-4 rounded-md border border-gray-200 text-center">
        <p class="text-lg font-semibold">Created At</p>
        <p>{{ url_info.created_at.strftime("%b %d, %Y • %I:%M %p") }}</p>
      </div>
    </div>
  </div>
</div>
{% endif %} {% endblock content %}
